*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    background-color: blanchedalmond;
    justify-content: center;
    align-items: center;
}

.header{
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50px;
    margin-bottom: 10px;
}
.datetime{
    width: 340px;
    background: blanchedalmond;
    border: 5px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px 10px;
    border-radius: 5px;

}

.date{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;

}

.time{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time span:last-child{
    background: wheat;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 5px;
}